@using SEM_project.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SEM_project.Models.Entities.Employee

@{
    ViewData["Title"] = "Editar Empleado";
}

<h3 style="color: #326091;"><b>Editar Funcionario</b></h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="EmployeeId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label">Nombre del Funcionario:</label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IDNumber" class="control-label">Cédula:</label>
                <input asp-for="IDNumber" class="form-control" />
                <span asp-validation-for="IDNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EnumPosition" class="control-label">Cargo:</label>
                <select asp-for="EnumPosition" asp-items="Html.GetEnumSelectList<EnumPosition>()" class="form-control">
                    <option value="">Seleccione...</option>
                </select>
                <span asp-validation-for="EnumPosition" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EnumAffiliation" class="control-label">Vinculación:</label>
                <select asp-for="EnumAffiliation" asp-items="Html.GetEnumSelectList<EnumAffiliation>()" class="form-control">
                    <option value="">Seleccione...</option>
                </select>
                <span asp-validation-for="EnumAffiliation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EnumLocation" class="control-label">Sede:</label>
                <select asp-for="EnumLocation" asp-items="Html.GetEnumSelectList<EnumLocation>()" class="form-control">
                    <option value="">Seleccione...</option>
                </select>
                <span asp-validation-for="EnumLocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EnumFloor" class="control-label">Piso:</label>
                <select asp-for="EnumFloor" asp-items="Html.GetEnumSelectList<EnumFloor>()" class="form-control">
                    <option value="">Seleccione...</option>
                </select>
                <span asp-validation-for="EnumFloor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EnumSubdepartment" class="control-label">Subsecretaria:</label>
                <select asp-for="EnumSubdepartment" asp-items="Html.GetEnumSelectList<EnumSubdepartment>()" class="form-control">
                    <option value="">Seleccione...</option>
                </select>
                <span asp-validation-for="EnumSubdepartment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EnumWorkGroup" class="control-label"></label>
                <select asp-for="EnumWorkGroup" asp-items="Html.GetEnumSelectList<EnumWorkGroup>()" class="form-control">
                    <option value="">Seleccione...</option>
                </select>
                <span asp-validation-for="EnumWorkGroup" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PhonePlate" class="control-label">Placa de Teléfono:</label>
                <input asp-for="PhonePlate" class="form-control" />
                <span asp-validation-for="PhonePlate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneModel" class="control-label">Modelo de Teléfono:</label>
                <input asp-for="PhoneModel" class="form-control" />
                <span asp-validation-for="PhoneModel" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="PhoneSerial" class="control-label">Serial del Teléfono:</label>
                <input asp-for="PhoneSerial" class="form-control" />
                <span asp-validation-for="PhoneSerial" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="PhoneExtension" class="control-label">Extensión de Teléfono:</label>
                <input asp-for="PhoneExtension" class="form-control" />
                <span asp-validation-for="PhoneExtension" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Observations" class="control-label">Observaciones:</label>
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsActive" class="control-label">Funcionario Activo:</label>
                <input type="checkbox" asp-for="IsActive" class="form-check" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="PersonalEquipment" class="control-label">Equipo Personal:</label>
                <input type="checkbox" asp-for="PersonalEquipment" class="form-check" />
                <span asp-validation-for="PersonalEquipment" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="back-button">
        <span>&#8592;</span> Regresar
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
