@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Bienvenid@, en empresarios con liderazgo estamos comprometidos con el cumplimiento de tus metas y propósitos, Gracias por elegirnos.";
        Layout = "_Layout_simple";
}



    <div class="card card-primary card-outline">
        <div class="card-header">
            <h5 class="card-title m-0">Confirmación Final</h5>
        </div>
        <div class="card-body">
          
                <p>
                    Bienvenid@@, en empresarios con liderazgo estamos comprometidos con el cumplimiento de tus metas y propósitos, Gracias por elegirnos.
                </p>
            <input type="button" class="btn btn-success" value="Continuar" onclick="location.href='@Url.Action("Index", "Home")'" />

        </div>
    </div>




