@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Olvido su contraseña?";
    Layout = "_Layout_simple";
}
@if (@TempData["ErrorMessage"] != null)
{
    <div class="alert-danger jumbotron">
        <strong>Error !</strong> @TempData["ErrorMessage"]
    </div>
}



<div class="card card-primary card-outline">
    <div class="card-header">

        <h2 style="color : #326091"><b>Ingresa tu  correo para restaurar la contraseña</b></h2>
    </div>
    <div class="card-body">
   <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Restaurar Contraseña</button>
        </form>

    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
