@{
    ViewData["Title"] = "Pagina en ";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card ">
                    <div class="card-header">

                        <h1 style="color : #326091"><b>Pagos Bancolombia</b>  <img src="https://empresarios.s3.amazonaws.com/Img/Bancolombia.png"> </h1>
                    </div>
                    <div class="card-body">

                        

                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 style="color : #326091"><b>Codigo QR </b></h5>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="filter-container p-0 row">
                                        <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                            <a href="https://empresarios.s3.amazonaws.com/Img/qr2.jpg" data-toggle="lightbox" data-title="51100001455">
                                                <img src="https://empresarios.s3.amazonaws.com/Img/qr1.jpg" class="img-fluid mb-2" alt="Cuenta : 51100001455" />
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>       
                        <div class="card card-outline">
                            <div class="card-header">
                                <h5 style="color : #326091"><b>Cuenta de ahorros Bancolombia</b></h5>
                            </div>
                            <div class="card-body">
                                <p><b>*. NOMBRE  : ECL INVERSIÓN</b> </p>
                                <p><b>*. CUENTA <strong>AHORROS</strong>  : 51100001455 </b> </p>
                                <p><b>*. CEDULA  : 1128469767</b> </p>


                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Page specific script -->
