@{
    ViewData["Title"] = "Pagina en ";
}

<div class="card card-primary card-outline">
    <div class="card-header">
       <h1 style="color : #326091"><b>BIENVENIDOS</b></h1>
    </div>
    <div class="card-body">
        <p><b>Desde nuestra pagina web podras conocer acerca de nuestra trayectoria, testimonios y servicios adicionales </b></p>
        <p><b>Tambien podras aprender algunos tips financieros, coaching y liderazgo. </b></p>

        
        <input type="button" class="btn btn-success" value="Visitar"     onclick="window.open('https://empresariosconliderazgo.org/')" target="_blank"  />

    </div>
</div>
