@model SEM_project.Models.Entities.Computer
@{
    ViewData["Title"] = "Nuevo Equipo";
}

<h3 style="color: #326091;"><b>Nuevo Equipo</b></h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Serial" class="control-label">Serial</label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reference" class="control-label">Reference</label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Processer" class="control-label">Processer</label>
                <input asp-for="Processer" class="form-control" />
                <span asp-validation-for="Processer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ram" class="control-label">RAM</label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HardDisk" class="control-label">Hard Disk</label>
                <input asp-for="HardDisk" class="form-control" />
                <span asp-validation-for="HardDisk" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OperativeSystem" class="control-label">Sistema Operativo</label>
                <input asp-for="OperativeSystem" class="form-control" />
                <span asp-validation-for="OperativeSystem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Model" class="control-label">Tipo de Equipo</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Asignar a un Usuario:</label>
                <select asp-for="EmployeeId" asp-items="ViewBag.EmployeeList" class="form-control">
                    <option value="">Seleccione un Usuario...</option>
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="back-button">
        <span>&#8592;</span> Regresar
    </a>
</div>
