@{
    ViewData["Title"] = "Pagina en ";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h1 style="color : #326091"><b>SOLICITA TU CREDENCIAL</b></h1>

    </div>
    <div class="card-body">

        <p><b>Es tu oportunidad de obtener tu credencial de servicios Déjanos tus datos y en 8 días hábiles tendrás tu credencial de servicios.   </b></p>


        <img src="~/Theme/img/card.jpg" class="img-fluid" style="width:600px;height:400px;" />
        <br />
        <br />

        <input type="button" class="btn btn-info" value="Obtener Credencial" onclick="window.open('https://forms.gle/gKuuCpoUKwJccEDi6')" target="_blank" />

    </div>

</div>
