@{
    ViewData["Title"] = "Pagina en ";
}




  <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">

                 <h1><b>Inversiones En Cryptomonedas</b></h1>
              </div>
              <div class="card-body">
                <div>
                  <div class="btn-group w-100 mb-2">
                    <a class="btn btn-info" href="javascript:void(0)" data-filter="1"> BTC </a>
                    <a class="btn btn-info" href="javascript:void(0)" data-filter="2"> USDT </a>
                  </div>
              
                </div>
                <div>
                  <div class="filter-container p-0 row">
                    <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                      <a href="https://empresarios.s3.amazonaws.com/Img/crypto/btc_big.jpg" data-toggle="lightbox" data-title="3QCFZ4eDGJShftyjL9mnmEAy1qJMF2fgTb">
                        <img src="https://empresarios.s3.amazonaws.com/Img/crypto/btc_mini.jpg" class="img-fluid mb-2" alt="BTC"/>
                      </a>
                    </div>
                    <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                      <a href="https://empresarios.s3.amazonaws.com/Img/crypto/usdt_big.jpg" data-toggle="lightbox" data-title="TRwTxFyfCb2Qt3dcRNtdN9cFecir9nxgsq">
                        <img src="https://empresarios.s3.amazonaws.com/Img/crypto/usdt_mini.jpg" class="img-fluid mb-2" alt="USDT"/>
                      </a>
                    </div>
                   
                  </div>
                </div>

              </div>
            </div>
          </div>
 
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <!-- Page specific script -->


