@{
    ViewData["Title"] = "Home Page";
}
@if (@TempData["AlertMessage"] != null)
{
    <div class="alert-success jumbotron">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

@if (@TempData["ErrorMessage"] != null)
{
    <div class="alert-danger jumbotron">
        <strong>Error !</strong> @TempData["ErrorMessage"]
    </div>
}








<div class="card card-primary card-outline">
    <div class="card-header">
            <h1><b>Inicio</b></h1>
    </div>
    <div class="card-body">


            <h1 style="color : #326091"><b>En desarrollo..</b></h1>
            <br />

@*               <h2 style="color : #326091"><b>ar</b></h2>            <br />
        <span><a href="https://app.powerbi.com/reportEmbed?reportId=822286fb-327f-4466-997a-bd81e77923ab&autoAuth=true&ctid=9c48e088-5e44-4b0d-93a0-eeb2c6127c3d">Contáctanos </a></span>
        <iframe title="informe1" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=822286fb-327f-4466-997a-bd81e77923ab&autoAuth=true&ctid=9c48e088-5e44-4b0d-93a0-eeb2c6127c3d" frameborder="0" allowFullScreen="true"></iframe>
        *@


    </div>
</div>


