@{
    ViewData["Title"] = "Noticias ";
    Layout = "";

}

<div>
    <iframe style=" height:calc(100vh - 4px); width:calc(89vw - 4px); box-sizing: border-box; margin:0" src="https://SEM_project.org/noticias-semanales/" frameborder="0" allowfullscreen></iframe>
</div>


