@{
    ViewData["Title"] = "Pagina en ";
}


<div class="card card-primary card-outline">
    <div class="card-header">
         <h1 style="color : #326091"><b>Transferencias</b></h1>
    </div>
    <div class="card-body">
        <h6 class="card-title"><b>Pronto tendremos transferencias habilitadas.<br/> ¿En que consiste?.<br/> 
Entre asociados de la empresa pueden cambiar o vender su saldo antes de los retiros, es decir, entre los mismo pueden decidir a quien envía su dinero teniendo en cuenta que la plataforma cobra un 1.5% de comisión por transacción y  el usuario que compra se queda con el 3.5%</b> 
        <br />
        <br />
        <p><b> Es decir pepito Pérez tiene 1.000.000 de pesos y los quiere vender antes de la fecha de pago. En el grupo empresarial se anunciará la venta cualquiera de los usuarios puede transferirle menos el 3.5% envía el soporte a la empresa y el asociado al próximo mes de su retiro podrá reclamar su  dinero y pues a él que le transfirieron tendrá su dinero en la cuenta. 
Algunos verán una gran oportunidad y mantendrán dinero en su cuenta para transferir. </b> </p>
        <p> <b>Éxitos a quien vea una gran oportunidad</b></p> </h6>
      

        <img src="~/Theme/img/transfer.jpg"  class="img-fluid"  style="width:700px;height:400px;" />

    </div>
</div>
